@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@font-face {
  font-family: "roboto";
  src: url("./roboto-regular.woff2") format("woff2");
}

@font-face {
  font-family: "geist mono";
  src: url("./geist-mono.woff2") format("woff2");
}

* {
  font-family: "roboto", sans-serif;
}

code,
pre {
  font-family: "geist mono", monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  background: conic-gradient(
          from 139.29deg at 71.44% 100%,
          #FFFFFF -30deg,
          #FFFFFF 183.75deg,
          #FF8800 269.3deg,
          #FF4400 307.6deg,
          #FFFFFF 330deg,
          #FFFFFF 543.75deg
  );
}

section {
    scrollbar-track-color: transparent;
    scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: conic-gradient(from 147.68deg at 50% 105.23%, #000000 -30deg, #000000 177.21deg, #FF8800 274.6deg, #FF8800 322.5deg, #000000 330deg, #000000 537.21deg),
        linear-gradient(150.76deg, #000000 0.53%, rgba(0, 0, 0, 0) 78.59%);
    }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
